include README.md
include LICENSE
include suite2p/classifiers/classifier.npy
include suite2p/classifiers/classifer_user.npy
include gui_data.txt
include suite2p/logo/logo.png
include suite2p/logo/logo_unshaded.png
