/* Make function names bold */
.docstring .highlight pre {
    background: #eef;
    padding: 10px;
    border-radius: 5px;
}

/* Style the [source] links */
a.reference.external {
    color: #2288cc;
    font-weight: bold;
}
